<section id="search">
  <div class="container">
    <% if @messages %>
      <div class="row">
        <div class="col-12">
          <%= render partial: 'shared/alert_messages', locals: {message_type: @message_type, messages: @messages} %>
        </div>
      </div>
    <% end %>
    <div class="row my-2 spinner-row hidden" id="submit_spinner">
      <div class="col-12">
        <div class="spinner-border text-primary spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <span>Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= form_tag(scrape_data_path, method: 'get', class: "form-inline", id: 'data-form') do %>
          <div class="input-group col-10 px-0 mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-link"></i>
              </div>
            </div>
            <%= text_field_tag :url, nil, class: "form-control mr-2", placeholder: "Yallamotor URL" %>
          </div>
          <%= submit_tag "Submit", id: 'submit-btn', class: "col-2 px-0 btn btn-primary mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
