<section id="scraped-results">
  <div class="container">
    <div class="row mb-1 justify-content-end">
      <div class="col-auto">
        <%= link_to "Extract Again", root_path, class: 'btn btn-link' %>
      </div>
    </div>
    <% if @messages %>
      <div class="row">
        <div class="col-12">
          <%= render partial: 'shared/alert_messages', locals: {message_type: @message_type, messages: @messages} %>
        </div>
      </div>
    <% end %>
    <div class="container">
      <% if @cars_table.present? %>
        <div class="row">
          <div class="col-12">
            <table id="car-versions" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;">
              <thead>
              <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Price</th>
              </tr>
              </thead>
              <tbody>
              <% @cars_table.each do |car| %>
                <tr>
                  <td><%= car[:type] %></td>
                  <td><%= car[:title] %></td>
                  <td><%= car[:price] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>