// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-bkg-animated {
  background: asset-url('dark_Tire.png') repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 156px 0 100px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -400px 0; }
}

.spinner-row {
  &.hidden {
    visibility: hidden;
  }
  &.show {
    visibility: visible;
  }
}